@using Bycoders.DesafioDev.App.Extensions
@model Bycoders.DesafioDev.App.Models.OperacoesImportadasViewModel

@{
    ViewData["Title"] = "Detalhes importação";
}

<div class="container" style=" padding-top: 20px">
    <h4 style="padding-top: 50px">@ViewData["Title"] </h4>
    <hr />

    @if (Model.OperacoesNaoProcessadas.Any())
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h5 id="msgRetorno" style="padding-top: 20px"><b>Opa! Algo deu errado :(</b></h5>
            @foreach (var transacoesNaoProcessadas in Model.OperacoesNaoProcessadas)
            {
                <div>
                    <p>
                        <b>Loja: @Html.DisplayFor(modelItem => transacoesNaoProcessadas.NomeLoja)</b> <br>
                        @foreach (var errosPorLinha in transacoesNaoProcessadas.Erros)
                        {
                            <small class="text-muted"> Linha: @Html.DisplayFor(item => errosPorLinha.Key)</small>
                            <small class="text-muted"> Erros: @this.ObterErro(errosPorLinha.Value)</small>
                            <br />
                        }
                    </p>
                </div>
            }
            <div style="padding-top: 20px" class="text-danger"></div>
        </div>
    }

    @if (Model.OperacoesSucesso.Any())
    {
        <table class="table table-hover" id="tabela">
            <thead class="thead-dark">
                <tr>
                    <th class="cabecalho">
                        <b>Loja</b>
                    </th>
                    <th class="cabecalho">
                        <b>Total de Importações</b>
                    </th>
                    <th class="cabecalho">
                        <b>Saldo</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var operacao in Model.OperacoesSucesso)
                {
                    <tr>
                        <td class="corpo">
                            @Html.DisplayFor(modelItem => operacao.NomeLoja)
                        </td>
                        <td class="corpo">
                            @Html.DisplayFor(modelItem => operacao.Transacoes.Count)
                        </td>
                        <td class="corpo">
                            @Html.DisplayFor(modelItem => operacao.Saldo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <a class="btn btn-danger" asp-controller="Importacao" asp-action="Index"> Voltar </a>
</div>



